Repository Emasoft/SelectFileCLI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, yamlfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # Update uv lockfile
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.17
    hooks:
      - id: uv-lock

  # Python formatting and linting
  - repo: local
    hooks:
      - id: ruff-format
        name: Format with ruff
        entry: uv run ruff format --line-length=320
        language: system
        types: [python]
        pass_filenames: true

      - id: ruff-check
        name: Lint with ruff
        entry: uv run ruff check --ignore E203,E402,E501,E266,W505,F841,F842,F401,W293,I001,UP015,C901,W291 --isolated --fix
        language: system
        types: [python]
        pass_filenames: true

  # Check for trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # YAML formatting for GitHub workflows
  - repo: local
    hooks:
      - id: yamlfmt
        name: Format YAML files
        entry: yamlfmt
        language: system
        files: '^\.github/.*\.(yml|yaml)$'
        pass_filenames: true

feat: replace gitleaks with TruffleHog for secret detection
  .github/workflows/security.yml
  .pre-commit-config.yaml
Due: yamlfmt

feat: add comprehensive code quality tools
  .actrc
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  .yamllint.yml
  pyproject.toml
Due: yamlfmt

feat: implement sequential pre-commit with resource monitoring
  .github/workflows/pre-commit-sequential.yml
  .gitignore
  .pre-commit-config.yaml
  .pre-commit-wrappers/memory-limited-hook.sh
  .pre-commit-wrappers/trufflehog-limited.sh
  .trufflehog
  SEQUENTIAL_PRECOMMIT_SETUP.md
  setup-sequential-precommit.sh
  src/selectfilecli/__init__.py
  src/selectfilecli/file_browser_app.py
Due: ruff-format, ruff-check, yamlfmt

fix: address issues in sequential pre-commit implementation
  .github/workflows/pre-commit-sequential.yml
  .pre-commit-wrappers/memory-limited-hook.sh
  .pre-commit-wrappers/trufflehog-limited.sh
  .trufflehog
  .trufflehog-exclude
  setup-sequential-precommit.sh
Due: yamlfmt

fix: update TruffleHog exclude file to use regex patterns instead of globs
  .trufflehog
  .trufflehog-exclude
  SEQUENTIAL_PRECOMMIT_SETUP.md
  tests/__snapshots__/test_file_browser_app/TestFileBrowserApp.test_app_visual_snapshot.svg
Due: none

test: verify pre-commit hooks work correctly
  test_file.txt
Due: none

fix: update setup script to match documented pre-commit configuration
  setup-sequential-precommit.sh
  test_file.txt
Due: none

fix: improve pre-commit wrapper scripts and platform detection
  .pre-commit-wrappers/memory-limited-hook.sh
  .pre-commit-wrappers/trufflehog-limited.sh
  setup-sequential-precommit.sh
Due: none

chore: add sequential pre-commit environment configuration
  .sequential-precommit-env
Due: none

test: verify sequential pre-commit hooks are working
  src/selectfilecli/__init__.py
Due: ruff-format, ruff-check

chore: remove test comment
  src/selectfilecli/__init__.py
Due: ruff-format, ruff-check

feat: implement visual improvements for file browser
  src/selectfilecli/file_browser_app.py
Due: ruff-format, ruff-check

feat: implement folder selection and comprehensive file info return
  mypy_lint_log.txt
  mypy_test_log.txt
  src/selectfilecli/__init__.py
  src/selectfilecli/file_browser_app.py
  src/selectfilecli/file_info.py
  tests/conftest.py
  tests/test_basic.py
  tests/test_file_browser_app.py
Due: ruff-format, ruff-check

chore: bump version to 0.4.0-alpha
  pyproject.toml
Due: none

fix: restore broken UI layout and button functionality
  mypy_lint_log.txt
  src/selectfilecli/__init__.py
  src/selectfilecli/file_browser_app.py
  src/selectfilecli/file_info.py
  tests/__snapshots__/test_edge_case_snapshots/TestEdgeCaseSnapshots.test_narrow_terminal_snapshot.svg
Due: ruff-format, ruff-check

fix: correct test expectations to match implementation
  src/selectfilecli/file_browser_app.py
  tests/__snapshots__/test_file_browser_app/TestFileBrowserApp.test_app_visual_snapshot.svg
  tests/test_file_browser_app.py
Due: ruff-format, ruff-check

fix: resolve GitHub workflow issues
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: yamlfmt

test: fix failing tests to match actual implementation
  tests/test_file_browser_app.py
Due: ruff-format, ruff-check

fix: resolve remaining workflow issues
  .github/workflows/lint.yml
  .github/workflows/security.yml
Due: yamlfmt

feat: add yamlfmt configuration and CI integration
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/lint.yml
  .github/workflows/pre-commit-sequential.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .yamlfmt
  .yamllint
Due: yamlfmt

fix: restrict yamllint to only check .github folder files
  .pre-commit-config.yaml
Due: none

fix: resolve critical file browser UI and navigation issues
  src/selectfilecli/__init__.py
  src/selectfilecli/file_browser_app.py
  test_fixes.py
Due: ruff-format, ruff-check

chore: remove temporary test file
  test_fixes.py
Due: ruff-format, ruff-check

test: add comprehensive navigation tests for all buttons and keyboard shortcuts
  tests/test_file_browser_app.py
Due: ruff-format, ruff-check

fix: make path display yellow as requested
  src/selectfilecli/file_browser_app.py
Due: ruff-format, ruff-check

fix: resolve UI layout issues with navigation bar and subtitle display
  CURRENT_ISSUES.md
  examples/advanced_example.py
  src/selectfilecli/__init__.py
  src/selectfilecli/file_browser_app.py
  tests/__snapshots__/test_edge_case_snapshots/TestEdgeCaseSnapshots.test_narrow_terminal_snapshot.svg
  tests/__snapshots__/test_file_browser_app/TestFileBrowserApp.test_app_visual_snapshot.svg
Due: ruff-format, ruff-check

fix: display <empty> placeholder in empty directories (fixes #4)
  src/selectfilecli/file_browser_app.py
  tests/__snapshots__/test_empty_directory_snapshots/TestEmptyDirectorySnapshots.test_empty_directory_snapshot.svg
  tests/test_empty_directory_snapshots.py
  tests/test_file_browser_app.py
Due: ruff-format, ruff-check

fix: implement async loading with placeholders (fixes #5, #6)
  mypy_lint_log.txt
  mypy_lint_log2.txt
  src/selectfilecli/file_browser_app.py
  test_async_loading.py
Due: ruff-format, ruff-check

fix: resolve sort dialog issues (#7)
  mypy_lint_log.txt
  mypy_lint_log2.txt
  src/selectfilecli/file_browser_app.py
  test_async_loading.py
  tests/__snapshots__/test_file_browser_app/TestFileBrowserApp.test_sort_dialog_snapshot.svg
Due: ruff-format, ruff-check

fix: implement proper column alignment for directory entries (issue #8)
  src/selectfilecli/file_browser_app.py
  tests/__snapshots__/test_edge_case_snapshots/TestEdgeCaseSnapshots.test_narrow_terminal_snapshot.svg
  tests/__snapshots__/test_edge_case_snapshots/TestEdgeCaseSnapshots.test_wide_terminal_snapshot.svg
Due: ruff-format, ruff-check

test: update narrow terminal snapshot after column alignment fix
  tests/__snapshots__/test_edge_case_snapshots/TestEdgeCaseSnapshots.test_narrow_terminal_snapshot.svg
Due: none

test: final update to narrow terminal snapshot
  tests/__snapshots__/test_edge_case_snapshots/TestEdgeCaseSnapshots.test_narrow_terminal_snapshot.svg
Due: none

fix: rename Quit to Cancel and return None on cancellation
  src/selectfilecli/__init__.py
  src/selectfilecli/file_browser_app.py
  tests/test_file_browser_app.py
Due: ruff-format, ruff-check

feat: add error_message field to FileInfo for file access errors (issue #10)
  src/selectfilecli/__init__.py
  src/selectfilecli/file_browser_app.py
  src/selectfilecli/file_info.py
  tests/test_file_browser_app.py
Due: ruff-format, ruff-check

fix: implement real-time terminal resize handling (fixes #11)
  .gitignore
  src/selectfilecli/file_browser_app.py
  test_resize.py
Due: ruff-format, ruff-check

chore: remove test resize script
  test_resize.py
Due: ruff-format, ruff-check

feat: complete all 11 requested fixes for v0.4.5
  FIXES_SUMMARY.md
Due: none

docs: update examples and README with all new features
  README.md
  examples/advanced_example.py
  examples/example.py
  tests/__snapshots__/test_visual_requirements/TestVisualRequirements.test_empty_folder_placeholder.svg
  tests/__snapshots__/test_visual_requirements/TestVisualRequirements.test_error_state_visual.svg
  tests/__snapshots__/test_visual_requirements/TestVisualRequirements.test_file_alignment_columns.svg
  tests/__snapshots__/test_visual_requirements/TestVisualRequirements.test_header_button_bar_layout.svg
  tests/__snapshots__/test_visual_requirements/TestVisualRequirements.test_narrow_terminal_layout.svg
  tests/__snapshots__/test_visual_requirements/TestVisualRequirements.test_navigation_buttons_visual.svg
  tests/__snapshots__/test_visual_requirements/TestVisualRequirements.test_path_display_visibility.svg
  tests/__snapshots__/test_visual_requirements/TestVisualRequirements.test_sort_dialog_appearance.svg
  tests/__snapshots__/test_visual_requirements/TestVisualRequirements.test_wide_terminal_layout.svg
  tests/requirements_verification_report.md
  tests/snapshot_apps/test_aligned_files.py
  tests/snapshot_apps/test_empty_folder.py
  tests/snapshot_apps/test_error_state.py
  tests/test_all_requirements_summary.py
  tests/test_requirements_verification.py
  tests/test_visual_requirements.py
Due: ruff-format, ruff-check
