Repository Emasoft/SelectFileCLI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, deptry, mypy-limited, yamlfmt, yamllint, actionlint

ruff-format:
  name: Format with ruff
  entry: uv run ruff format --line-length=320
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  require_serial: true

ruff-check:
  name: Lint with ruff
  entry: uv run ruff check --ignore E203,E402,E501,E266,W505,F841,F842,F401,W293,I001,UP015,C901,W291 --isolated --fix
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  require_serial: true

deptry:
  name: Check dependencies with deptry
  entry: uv run deptry src
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  require_serial: true

mypy-limited:
  name: Type checking (memory limited)
  entry: .pre-commit-wrappers/memory-limited-hook.sh uv run mypy
  language: system
  require_serial: true
  pass_filenames: true
  stages:
  - pre-commit
  args:
  - --strict
  - --show-error-context
  - --pretty
  - --install-types
  - --non-interactive

yamlfmt:
  name: Format YAML files
  entry: yamlfmt
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  require_serial: true

yamllint:
  name: Lint YAML files
  entry: uv run yamllint
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  require_serial: true

actionlint:
  name: Lint GitHub Actions workflows
  entry: actionlint
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  require_serial: true

test: update control character snapshot for new UI layout
  tests/__snapshots__/test_control_char_snapshots/TestControlCharacterSnapshots.test_control_chars_display_snapshot.svg
Due: none

fix: properly implement async loading and navigation
  src/selectfilecli/file_browser_app.py
Due: ruff-format, ruff-check, deptry, mypy-limited

fix: resolve async navigation freezes and improve column alignment
  src/selectfilecli/file_browser_app.py
Due: ruff-format, ruff-check, deptry, mypy-limited

chore: bump version to 0.4.1
  pyproject.toml
  src/selectfilecli/__init__.py
Due: ruff-format, ruff-check, deptry, mypy-limited

refactor: implement proper Textual worker pattern for navigation
  src/selectfilecli/file_browser_app.py
Due: ruff-format, ruff-check, deptry, mypy-limited

feat: add loading indicator during navigation operations
  src/selectfilecli/file_browser_app.py
Due: ruff-format, ruff-check, deptry, mypy-limited

refactor: clean up code and add keyboard navigation shortcuts
  src/selectfilecli/file_browser_app.py
Due: ruff-format, ruff-check, deptry, mypy-limited

fix: resolve UI issues and improve code quality
  pyproject.toml
  src/selectfilecli/__init__.py
  src/selectfilecli/file_browser_app.py
Due: ruff-format, ruff-check, deptry, mypy-limited

fix: remove loading indicator from tree expansion
  src/selectfilecli/file_browser_app.py
Due: ruff-format, ruff-check, deptry, mypy-limited

fix: prevent infinite recursion in calculate_directory_size
  mypy_analysis.txt
  mypy_lint_log.txt
  src/selectfilecli/file_browser_app.py
Due: ruff-format, ruff-check, deptry, mypy-limited

fix: add terminal detection before termios operations
  src/selectfilecli/fileBrowser.py
Due: ruff-format, ruff-check, deptry, mypy-limited

fix: correct type annotations in FileInfo methods
  src/selectfilecli/file_info.py
Due: ruff-format, ruff-check, deptry, mypy-limited

fix: implement proper LRU cache eviction
  src/selectfilecli/file_browser_app.py
Due: ruff-format, ruff-check, deptry, mypy-limited

fix: resolve navigation race condition
  src/selectfilecli/file_browser_app.py
Due: ruff-format, ruff-check, deptry, mypy-limited

fix: use absolute paths in FileList to prevent path issues
  src/selectfilecli/FileList.py
Due: ruff-format, ruff-check, deptry, mypy-limited

refactor: use context manager for signal handler restoration
  src/selectfilecli/__init__.py
Due: ruff-format, ruff-check, deptry, mypy-limited

test: add comprehensive regression tests for all bug fixes
  tests/test_regression_fixes.py
Due: ruff-format, ruff-check, deptry, mypy-limited

chore: bump version to 0.4.3
  pyproject.toml
  src/selectfilecli/__init__.py
Due: ruff-format, ruff-check, deptry, mypy-limited

docs: add comprehensive bug fixes summary
  FIXES_SUMMARY.md
Due: none

docs: add Textual framework best practices analysis
  TEXTUAL_IMPROVEMENTS.md
Due: none

feat: implement updated sequential execution pipeline
  .env.development
  .github/workflows/sequential-ci.yml
  .pre-commit-config.yaml
  .sequential-aliases
  DEV_DOCS/.sequential-precommit-env
  DEV_DOCS/SEQUENTIAL_PRECOMMIT_SETUP.md
  DEV_DOCS/setup-sequential-precommit.sh
  Makefile
  SEQUENTIAL_MIGRATION_SUMMARY.md
  SEQUENTIAL_PRECOMMIT_SETUP 2.md
  examples/example.py
  pytest.ini
  scripts/ensure-sequential.sh
  scripts/monitor-queue.sh
  scripts/safe-run.sh
  scripts/seq
  scripts/sequential-executor.sh
  scripts/wait_all.sh
  test_sequential.sh
  tests/conftest.py
  tests/test_utils.py
Due: ruff-format, ruff-check, deptry, mypy-limited, yamlfmt, yamllint, actionlint

docs: add sequential pipeline status summary
  SEQUENTIAL_PIPELINE_STATUS.md
Due: none

feat: migrate to updated sequential execution protocol
  DEV_DOCS/SEQUENTIAL_MIGRATION_SUMMARY.md
  DEV_DOCS/SEQUENTIAL_PIPELINE_STATUS.md
  Makefile
  SEQUENTIAL_PRECOMMIT_SETUP 2.md
  pytest.ini
  scripts/ensure-sequential.sh
  scripts/git-safe.sh
  scripts/sequential-executor.sh
  scripts/wait_all.sh
Due: none

feat: implement loading indicator for directory expansion
  LOADING_INDICATOR_ANALYSIS.md
  src/selectfilecli/file_browser_app.py
  test_loading_indicator.py
  test_loading_visual.py
  test_loading_with_delay.py
  test_navigation_loading.py
Due: ruff-format, ruff-check, deptry, mypy-limited

feat: add comprehensive snapshot tests for loading indicators
  LOADING_INDICATOR_ANALYSIS.md
  TEST_REPORT.md
  src/selectfilecli/file_browser_app.py
  test_loading_indicator.py
  test_loading_visual.py
  test_loading_with_delay.py
  test_navigation_loading.py
  tests/LOADING_INDICATOR_TESTS_SUMMARY.md
  tests/__snapshots__/test_loading_indicator_snapshots/TestLoadingIndicatorEdgeCases.test_loading_empty_directory.svg
  tests/__snapshots__/test_loading_indicator_snapshots/TestLoadingIndicatorEdgeCases.test_loading_with_permission_error.svg
  tests/__snapshots__/test_loading_indicator_snapshots/TestLoadingIndicatorEdgeCases.test_rapid_navigation_loading.svg
  tests/__snapshots__/test_loading_indicator_snapshots/TestLoadingIndicatorSnapshots.test_directory_expansion_loading.svg
  tests/__snapshots__/test_loading_indicator_snapshots/TestLoadingIndicatorSnapshots.test_loading_indicator_styles.svg
  tests/__snapshots__/test_loading_indicator_snapshots/TestLoadingIndicatorSnapshots.test_loading_with_sorting_dialog.svg
  tests/__snapshots__/test_loading_indicator_snapshots/TestLoadingIndicatorSnapshots.test_multiple_expansion_loading.svg
  tests/__snapshots__/test_loading_indicator_snapshots/TestLoadingIndicatorSnapshots.test_navigation_loading_back_button.svg
  tests/__snapshots__/test_loading_indicator_snapshots/TestLoadingIndicatorSnapshots.test_navigation_loading_enter_key.svg
  tests/__snapshots__/test_loading_indicator_snapshots/TestLoadingIndicatorSnapshots.test_navigation_loading_forward_button.svg
  tests/__snapshots__/test_loading_indicator_snapshots/TestLoadingIndicatorSnapshots.test_navigation_loading_keyboard_shortcuts.svg
  tests/__snapshots__/test_loading_snapshots_with_delay/TestLoadingSnapshotsWithDelay.test_navigation_loading_visible_enter.svg
  tests/__snapshots__/test_loading_snapshots_with_delay/TestLoadingSnapshotsWithDelay.test_navigation_loading_visible_parent.svg
  tests/conftest.py
  tests/conftest_snapshots.py
  tests/test_loading_indicator_snapshots.py
  tests/test_loading_manual_check.py
  tests/test_loading_snapshots_with_delay.py
Due: ruff-format, ruff-check, deptry, mypy-limited

feat: complete sequential execution pipeline with memory protection
  FINAL_UPDATE_SUMMARY.md
  IMPLEMENTATION_SUMMARY.md
  Makefile
  SEQUENTIAL_EXECUTION_SOLUTION.md
  SEQUENTIAL_PIPELINE_COMPLETE.md
  SEQUENTIAL_PRECOMMIT_SETUP 2.md
  scripts/make-sequential.sh
  scripts/memory_monitor.sh
  scripts/sequential-executor.sh
Due: none

fix: prevent pre-commit deadlock and add comprehensive logging
  FINAL_UPDATE_SUMMARY.md
  IMPLEMENTATION_SUMMARY.md
  SEQUENTIAL_EXECUTION_SOLUTION.md
  SEQUENTIAL_PIPELINE_COMPLETE.md
  SEQUENTIAL_PRECOMMIT_SETUP 2.md
  scripts/make-sequential.sh
  scripts/memory_monitor.sh
  scripts/sequential-executor.sh
Due: none

docs: complete sequential pipeline setup guide with all fixes
  PRECOMMIT_DEADLOCK_FIX.md
  SEQUENTIAL_PRECOMMIT_SETUP 2.md
  SEQUENTIAL_PRECOMMIT_SETUP_FINAL.md
Due: none

refactor: consolidate sequential pipeline documentation
  .env.development
  DOCS_DEV/FINAL_UPDATE_SUMMARY.md
  DOCS_DEV/IMPLEMENTATION_SUMMARY.md
  DOCS_DEV/PRECOMMIT_DEADLOCK_FIX.md
  DOCS_DEV/SEQUENTIAL_EXECUTION_SOLUTION.md
  DOCS_DEV/SEQUENTIAL_PIPELINE_COMPLETE.md
  DOCS_DEV/SEQUENTIAL_PRECOMMIT_SETUP_FINAL.md
  SEQUENTIAL_PRECOMMIT_SETUP 2.md
Due: none

refactor: clean up project structure and fix emoji alignment
  DOCS_DEV/.sequential-precommit-env
  DOCS_DEV/BUILD_SUMMARY.md
  DOCS_DEV/CURRENT_ISSUES.md
  DOCS_DEV/FIXES_SUMMARY.md
  DOCS_DEV/LOADING_INDICATOR_ANALYSIS.md
  DOCS_DEV/LOADING_INDICATOR_TESTS_SUMMARY.md
  DOCS_DEV/PROJECT_STATUS.md
  DOCS_DEV/README_EDGE_CASE_TESTS.md
  DOCS_DEV/SEQUENTIAL_MIGRATION_SUMMARY.md
  DOCS_DEV/SEQUENTIAL_PIPELINE_STATUS.md
  DOCS_DEV/SEQUENTIAL_PRECOMMIT_SETUP.md
  DOCS_DEV/SESSION_SUMMARY.md
  DOCS_DEV/TEST_REPORT.md
  DOCS_DEV/TEXTUAL_IMPROVEMENTS.md
  DOCS_DEV/requirements_verification_report.md
  DOCS_DEV/setup-sequential-precommit.sh
  SEQUENTIAL_PRECOMMIT_SETUP 2.md
  scripts/kill-orphans.sh
  src/selectfilecli/file_browser_app.py
Due: ruff-format, ruff-check, deptry, mypy-limited

fix: implement comprehensive deadlock prevention in sequential pipeline
  .pre-commit-config.yaml
  DEADLOCK_PREVENTION_GUIDE.md
  SEQUENTIAL_PRECOMMIT_SETUP 2.md
  scripts/git-safe.sh
  scripts/pre-commit-safe.sh
  scripts/sequential-executor-v1.sh
  scripts/sequential-executor-v2.sh
  scripts/sequential-executor.sh
Due: none

fix: redesign sequential execution with correct philosophy
  SEQUENTIAL_EXECUTION_PHILOSOPHY.md
  scripts/git-safe.sh
  scripts/sequential-executor-strict.sh
  scripts/sequential-executor.sh
Due: none

test: verify sequential execution pipeline
  test_sequential_commit.py
  test_sequential_simple.py
Due: ruff-format, ruff-check, deptry, mypy-limited

feat: finalize sequential pipeline setup documentation and sync project config
  .env.development
  .pre-commit-config.yaml
  DOCS_DEV/ARCHITECTURE_SIMPLIFICATION_SUMMARY.md
  DOCS_DEV/ATOMIC_COMMAND_UPDATE_SUMMARY.md
  DOCS_DEV/DEADLOCK_PREVENTION_GUIDE.md
  DOCS_DEV/SEQUENTIAL_EXECUTION_PHILOSOPHY.md
  DOCS_DEV/SEQUENTIAL_SETUP_COMPLETENESS_CHECK.md
  Makefile
  SEQUENTIAL_PRECOMMIT_SETUP 2.md
  print_version.sh
  scripts/atomic-hook.sh
  scripts/ensure-sequential.sh
  scripts/example-atomic-pipeline.sh
  scripts/git-safe.sh
  scripts/pre-commit-safe.sh
  scripts/safe-run.sh
  scripts/seq
  scripts/sequential-executor-strict.sh
  scripts/wait_all.sh
  test_sequential_commit.py
  test_sequential_simple.py
Due: ruff-format, ruff-check, deptry, mypy-limited

fix: enhance wait_all.sh with comprehensive process tracking and cleanup
  scripts/wait_all.sh
Due: none

fix: prevent wait_all.sh from killing parent git processes
  scripts/wait_all.sh
Due: none

fix: resolve wait_all.sh exit code and process tracking issues
  scripts/wait_all.sh
Due: none

docs: update DOCS_DEV files to reference v3 protocol
  DOCS_DEV/ARCHITECTURE_SIMPLIFICATION_SUMMARY.md
  DOCS_DEV/ATOMIC_COMMAND_UPDATE_SUMMARY.md
  DOCS_DEV/FINAL_UPDATE_SUMMARY.md
  DOCS_DEV/PRECOMMIT_DEADLOCK_FIX.md
  DOCS_DEV/SEQUENTIAL_MIGRATION_SUMMARY.md
  DOCS_DEV/SEQUENTIAL_PIPELINE_COMPLETE.md
  DOCS_DEV/SEQUENTIAL_PIPELINE_STATUS.md
Due: none

fix: ensure bash 3.2 compatibility and cross-platform support
  DOCS_DEV/SCRIPT_LINTING_SUMMARY.md
  DOCS_DEV/SEQUENTIAL_PIPELINE_UPDATE_SUMMARY.md
  DOCS_DEV/SEQUENTIAL_V3_STREAMLINE_SUMMARY.md
  DOCS_DEV/V3_PROTOCOL_MIGRATION_SUMMARY.md
  DOCS_DEV/WAIT_ALL_V3.2_TEST_SUMMARY.md
  SEQUENTIAL_PRECOMMIT_SETUP 2.md
  SEQUENTIAL_PRECOMMIT_SETUP_v3.md
  scripts/README.md
  scripts/git-safe.sh
  scripts/install-deps.sh
  scripts/make-sequential.sh
  scripts/memory_monitor.sh
  scripts/sequential-executor-strict.sh
  scripts/sequential-executor-v2.sh
  scripts/test-bash-compatibility.sh
  scripts/wait_all.sh
Due: none

refactor: improve script naming and add comprehensive --help
  scripts/git-safe.sh
  scripts/install-deps.sh
  scripts/make-sequential.sh
  scripts/memory_monitor.sh
  scripts/sequential-executor-strict.sh
  scripts/wait_all.sh
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  deptry: any of: \.py$
  mypy-limited: any of: \.py$
  yamlfmt: any of: ^\.github/.*\.(yml|yaml)$
  yamllint: any of: ^\.github/.*\.(yml|yaml)$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
