Repository Emasoft/SelectFileCLI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, deptry, mypy-limited, yamlfmt, yamllint, actionlint

ruff-format:
  name: Format with ruff
  entry: uv run ruff format --line-length=320
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  require_serial: true

ruff-check:
  name: Lint with ruff
  entry: uv run ruff check --ignore E203,E402,E501,E266,W505,F841,F842,F401,W293,I001,UP015,C901,W291 --isolated --fix
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  require_serial: true

deptry:
  name: Check dependencies with deptry
  entry: uv run deptry src
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  require_serial: true

mypy-limited:
  name: Type checking (memory limited)
  entry: .pre-commit-wrappers/memory-limited-hook.sh uv run mypy
  language: system
  require_serial: true
  pass_filenames: true
  stages:
  - pre-commit
  args:
  - --strict
  - --show-error-context
  - --pretty
  - --install-types
  - --non-interactive

yamlfmt:
  name: Format YAML files
  entry: yamlfmt
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  require_serial: true

yamllint:
  name: Lint YAML files
  entry: uv run yamllint
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  require_serial: true

actionlint:
  name: Lint GitHub Actions workflows
  entry: actionlint
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  require_serial: true

feat: complete script consolidation to v3.0.0
  .pre-commit-config.yaml
  Makefile
  SEQUENTIAL_PRECOMMIT_SETUP_v3.md
  scripts/CONSOLIDATION_PLAN.md
  scripts/atomic-hook.sh
  scripts/ensure-sequential.sh
  scripts/example-atomic-pipeline.sh
  scripts/git-safe.sh
  scripts/install-deps.sh
  scripts/install_sequential.sh
  scripts/make-sequential.sh
  scripts/pre-commit-safe.sh
  scripts/sequential-executor-v1.sh
  scripts/sequential-executor-v2.sh
  scripts/sequential-executor.sh
  scripts/sequential_queue.sh
  scripts/test-bash-compatibility.sh
  seq
Due: none

feat: add version 3.0.0 and comprehensive help to utility scripts
  scripts/kill-orphans.sh
  scripts/monitor-queue.sh
Due: none

docs: fix sequential pipeline documentation and verify installation
  .env.development
  .env.development.old
  .gitignore
  DOCS_DEV/SEQUENTIAL_PRECOMMIT_SETUP_v3.md
  SEQUENTIAL_PIPELINE_VERIFICATION.md
  pyproject.toml
  scripts/git-safe.sh
  scripts/make-sequential.sh
  scripts/sequential-executor.sh
  seq
Due: none

fix: use project-local lock directory for sequential pipeline
  .env.development
  .pre-commit-config.yaml
  scripts/install_sequential.sh
  scripts/kill-orphans.sh
  scripts/monitor-queue.sh
  scripts/sequential_queue.sh
Due: none

fix: add sequential wrapper and test pipeline execution
  .pre-commit-config.yaml
  scripts/sequential_wrapper.sh
  test_pipeline.py
Due: ruff-format, ruff-check, deptry, mypy-limited

fix: simplify pre-commit config to use sequential_queue.sh directly
  .pre-commit-config.yaml
  scripts/sequential_wrapper.sh
Due: none

fix: restore atomic command execution in pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix: ensure all pre-commit hooks use atomic execution
  .pre-commit-config.yaml
Due: none

feat: ensure all workflows and scripts use sequential_queue.sh
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/lint.yml
  .github/workflows/sequential-ci.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .sequential-locks/seq-exec-22a1589f/queue.txt
  run-docker-tests.sh
Due: yamlfmt, yamllint, actionlint

chore: remove accidentally committed queue.txt file
  .sequential-locks/seq-exec-22a1589f/queue.txt
Due: none

feat: implement automatic command atomification for sequential queue
  scripts/sequential_queue_v4.sh
  scripts/tool_atomifier.sh
Due: none

docs: add comprehensive atomification feature documentation
  docs/ATOMIFICATION_FEATURE.md
Due: none

fix: correct atomification implementation in sequential_queue_v5.sh
  scripts/sequential_queue_v5.sh
Due: none

chore: update git-safe.sh references to indicate it's integrated functionality
  .sequential-locks/seq-exec-22a1589f/pipeline_timeout.txt
  .sequential-locks/seq-exec-22a1589f/queue.txt
  SEQUENTIAL_PIPELINE_VERIFICATION.md
  docs/ATOMIFICATION_FEATURE.md
  scripts/git-safe.sh
  scripts/install_sequential.sh
  scripts/sequential_queue.sh
  scripts/sequential_queue_v4.sh
Due: none

feat: implement correct sequential queue flow v6.0.0
  scripts/sequential_queue_v6.sh
  scripts/tool_atomifier.sh
Due: none

feat: implement queue-based sequential execution v7.0.0
  .sequential-locks/seq-exec-22a1589f/queue.txt
  .sequential-locks/seq-exec-22a1589f/running
  scripts/sequential_queue_v7.sh
Due: none

feat: complete queue-based sequential execution implementation
  .sequential-locks/seq-exec-22a1589f/pipeline_timeout.txt
  .sequential-locks/seq-exec-22a1589f/queue.txt
  .sequential-locks/seq-exec-22a1589f/running
  scripts/sequential_queue.sh
  scripts/sequential_queue_backup.sh
Due: none

feat: implement gh-style list and watch commands for sequential queue v8.1.0
  .sequential-locks/seq-exec-22a1589f/current.pid
  .sequential-locks/seq-exec-22a1589f/current_run
  .sequential-locks/seq-exec-22a1589f/pipeline_timeout.txt
  .sequential-locks/seq-exec-22a1589f/run_id
  .sequential-locks/seq-exec-22a1589f/run_log
  .sequential-locks/seq-exec-22a1589f/run_start
  .sequential-locks/seq-exec-22a1589f/runs/20250706_172639/metadata.txt
  .sequential-locks/seq-exec-22a1589f/sessions/20250706_170837/metadata.txt
  docs/SEQUENTIAL_QUEUE_DESIGN.md
  scripts/sequential_queue.sh
  scripts/wait_all.sh
Due: none

fix: critical improvements to sequential queue v8.1.0
  .gitignore
  .sequential-locks/seq-exec-22a1589f/current.pid
  .sequential-locks/seq-exec-22a1589f/current_run
  .sequential-locks/seq-exec-22a1589f/pipeline_timeout.txt
  .sequential-locks/seq-exec-22a1589f/queue.txt
  .sequential-locks/seq-exec-22a1589f/run_id
  .sequential-locks/seq-exec-22a1589f/run_log
  .sequential-locks/seq-exec-22a1589f/run_start
  .sequential-locks/seq-exec-22a1589f/runs/20250706_172639/metadata.txt
  .sequential-locks/seq-exec-22a1589f/sessions/20250706_170837/metadata.txt
  SCRIPT_CONSOLIDATION_SUMMARY.md
  SEQUENTIAL_PIPELINE_VERIFICATION.md
  docs/SEQUENTIAL_QUEUE_DESIGN.md
  scripts/sequential_queue.sh
  scripts/wait_all.sh
Due: none

feat: complete GitHub CLI compatibility implementation for sequential queue
  .gitignore
  scripts/sequential_queue.sh
  scripts/wait_all.sh
Due: none

feat: implement all GitHub CLI filters (user, commit, event, created)
  scripts/sequential_queue.sh
Due: none

refactor: comprehensive code review fixes and cleanup
  PUBLISHING.md
  RELEASE_PROCESS.md
  docs/ATOMIFICATION_FEATURE.md
  scripts/sequential_queue.sh
  scripts/sequential_queue_backup.sh
  scripts/sequential_queue_v4.sh
  scripts/sequential_queue_v5.sh
  scripts/sequential_queue_v6.sh
  scripts/sequential_queue_v7.sh
Due: none

fix: remove sequential_queue.sh from pre-commit hooks
  .pre-commit-config.yaml
  scripts/sequential_exec.sh
  test_file.txt
Due: none

feat: implement async handlers for improved UI responsiveness
  src/selectfilecli/file_browser_app.py
Due: ruff-format, ruff-check, deptry, mypy-limited

fix: resolve memory leaks in tests and simplify sequential_queue paths
  .pre-commit-config.yaml
  pyproject.toml
  scripts/sequential_queue.sh
  tests/test_file_browser_app.py
Due: ruff-format, ruff-check, deptry, mypy-limited

fix: make ulimit memory limits Linux-only to support macOS
  scripts/tool_atomifier.sh
Due: none

fix: remove ulimit memory limits from tool_atomifier
  scripts/tool_atomifier.sh
Due: none

fix: clean up project structure and fix version inconsistencies
  .env.development
  .wait_all.log.lock
  DOCS_DEV/SEQUENTIAL_PRECOMMIT_SETUP_v3.md
  examples/test_intelligent_snapshot_demo.sh
  examples/test_pytest_atomization_demo.sh
  scripts/PYTEST_ATOMIZATION_IMPROVEMENTS.md
  scripts/ROBUST_SNAPSHOT_DETECTION.md
  scripts/git-safe.sh
  scripts/install_sequential.sh
  scripts/kill-orphans.sh
  scripts/legacy/aggregate_test_results.sh
  scripts/legacy/monitor_memory_during_tests.sh
  scripts/legacy/parse_pytest_results.sh
  scripts/legacy/run_test_with_retry_on_snapshot_fail.sh
  scripts/legacy/run_test_with_snapshot_detection.sh
  scripts/memory_monitor.sh
  scripts/monitor-queue.sh
  scripts/print_version.sh
  scripts/pytest_atomization_summary.txt
  scripts/sequential_queue.sh
  scripts/tool_atomifier.sh
  scripts/wait_all.sh
  tests/test_navigation_loading.py
  tests/test_pipeline.py
Due: ruff-format, ruff-check, deptry, mypy-limited

feat: rename all sequential pipeline scripts with 'sep_' prefix
  .env.development
  examples/test_intelligent_snapshot_demo.sh
  examples/test_pytest_atomization_demo.sh
  scripts/git-safe.sh
  scripts/make-sequential.sh
  scripts/print_version.sh
  scripts/sep_detect_snapshot_tests.py
  scripts/sep_installer.sh
  scripts/sep_kill_orphans.sh
  scripts/sep_memory_monitor.sh
  scripts/sep_monitor_queue.sh
  scripts/sep_queue.sh
  scripts/sep_tool_atomifier.sh
  scripts/sep_wait_all.sh
  scripts/sequential-executor.sh
  scripts/sequential_exec.sh
  sep
  seq
Due: ruff-format, ruff-check, deptry, mypy-limited

feat: rename sep_wait_all.sh to sep.sh for brevity
  .env.development
  .sep.log.lock
  .wait_all.log.lock
  scripts/sep.sh
  scripts/sep_installer.sh
  scripts/sep_kill_orphans.sh
  scripts/sep_queue.sh
  tests/test_utils.py
Due: ruff-format, ruff-check, deptry, mypy-limited

refactor: eliminate code duplication by creating sep_common.sh
  scripts/print_version.sh
  scripts/sep.sh
  scripts/sep_common.sh
  scripts/sep_installer.sh
  scripts/sep_kill_orphans.sh
  scripts/sep_memory_monitor.sh
  scripts/sep_monitor_queue.sh
  scripts/sep_queue.sh
Due: none

fix: update run-docker-tests.sh to use sep_queue.sh instead of sequential_queue.sh
  run-docker-tests.sh
  scripts/sep_common.sh
  scripts/sep_installer.sh
  scripts/sep_queue.sh
Due: none

fix: update remaining references to old script names
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/lint.yml
  .github/workflows/sequential-ci.yml
  .github/workflows/test.yml
  scripts/sep_installer.sh
  scripts/sep_queue.sh
  tests/test_utils.py
Due: ruff-format, ruff-check, deptry, mypy-limited, yamlfmt, yamllint, actionlint

feat: implement comprehensive tool support in atomifier with ignore file parsing
  scripts/sep_tool_atomifier.sh
  scripts/sep_tool_config.sh
Due: none

feat: SEP v8.5.0 - UV-centric runner enforcement and second-tier tools
  scripts/sep.sh
  scripts/sep_common.sh
  scripts/sep_installer.sh
  scripts/sep_kill_orphans.sh
  scripts/sep_memory_monitor.sh
  scripts/sep_monitor_queue.sh
  scripts/sep_queue.sh
  scripts/sep_tool_atomifier.sh
  scripts/sep_tool_config.sh
Due: none

feat: implement SEP v8.5.0 with runner enforcement and uv-centric design
  scripts/sep_common.sh
  scripts/sep_installer.sh
Due: none

fix: remove local declarations in top-level script code
  scripts/sep_queue.sh
Due: none

fix: handle associative array access and readonly variables in sep_tool_config.sh
  scripts/sep_queue.sh
  scripts/sep_tool_config.sh
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  deptry: any of: \.py$
  mypy-limited: any of: \.py$
  yamlfmt: any of: ^\.github/.*\.(yml|yaml)$
  yamllint: any of: ^\.github/.*\.(yml|yaml)$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
